.blogPage {
  padding-top: calc(5vh + 20px);
  

}
.inputField {
  display: flex;
  flex-direction: column;
}
.inputField label {
  margin-bottom: 10px;
  font-size: 16px;
}

.inputField input,
textarea {
  padding: 4px;
  font-size: 16px;
  outline-color: rgba(0, 164, 255, 1);
  margin-bottom: 10px;
}
.blogPost{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    border: 1px solid black;
}
.blogPost img{
 width: 200px;
 height: 200px;
 object-fit: contain;
}